* {
    box-sizing: border-box; 
}

body {
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 52px;
}

.poke_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.pokemon {
    background-color: #eee;
    border-radius: 20px;
    padding: 30px 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    width: 23%;
}

.pokemon .img-container {
    max-width: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.pokemon .img-container img {
    width: 100%;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .number {
    border-radius: 10px;
    font-size: 0.9em;
    padding: 5px 10px;
}

.pokemon .name {
    margin: 7px 0 7px 0;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 36px;
    }
    .pokemon {
        width: 60%;
    }
}